@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0a0b10] text-slate-200 antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-arrows::-webkit-inner-spin-button,
  .hide-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .hide-arrows {
    -moz-appearance: textfield;
  }
}

:root {
  transition: filter 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.light-theme {
  filter: invert(1) hue-rotate(180deg);
  background-color: #f7f6f1;
  /* Inverted background color */
}

/* Un-invert images and specific elements so they display correctly in light mode */
.light-theme img,
.light-theme video {
  filter: invert(1) hue-rotate(180deg);
}